<!-- hello_world.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <iframe
              width="450"
                height="250"
                  frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDRp891_r4G-5iHx_JRY-XOcCs6VFYIjY8&origin=Oslo+Norway&destination=Telemark+Norway" allowfullscreen>
        </iframe>
        <h1>Hello World!</h1>
        <em>{{ current_time }}</em>
    </body>
</html>
